@model PCW.Models.Pessoas

    <div style="background-color:aliceblue">
        <hr />
        <h1>Excluir</h1>
        <hr />
    </div>

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SEQPESSOA)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SEQPESSOA)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NOME)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NOME)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CIDADE)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CIDADE)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CPF)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CPF)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DTNASCIMENTO)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DTNASCIMENTO)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.USUARIO)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.USUARIO)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SENHA)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SENHA)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TIPO)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TIPO)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TELEFONE)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TELEFONE)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ENDERECO)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ENDERECO)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NUMERO)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NUMERO)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ESTADO)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ESTADO)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CEP)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CEP)
            </dd>
        </dl>

        <form asp-action="DeleteConfirmed">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn btn-sm btn-outline-warning" onclick="deletado()" asp-action="Index">Voltar</a>
        </form>
    </div>

    <script>
        function deletado() {
            $.alert("Arquivo deletado!");
        }
    </script>